.myButton {
	background-color:#33bdef;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:100%;
	border:1vh solid #7F90B9;
	display: block;
	cursor:pointer;
	color:#ffffff;
	padding:calc(88vh/6);
	float: right;
	margin: 1vh;
	margin-right: 5%;
	background-size: cover;
}
.myButton:hover {
	-moz-box-shadow:inset 0px 1px 14px 11px #f0f7fa;
	-webkit-box-shadow:inset 0px 1px 14px 11px #f0f7fa;
	box-shadow:inset 0px 1px 14px 11px #f0f7fa;	
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
