#slider {
	width: 50vw;
	height: 50px;
	position: absolute;
	margin: 0;
	margin-top: 15px;
	left: 25vw;
	background: url('../images/slider-graphics.png') no-repeat left top;
	border: none;
	outline: 0;
	z-index: 0;
}  

#speed {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 15px;
	width: 300px;
	background: url('../images/speed-empty.png') no-repeat left top;
	border: none;
	outline: 0;
}

#speed .ui-slider-range-min {
	height: 15px;
	position: absolute;
	background: url('../images/speed-full.png') no-repeat left top;
	opacity: 0.7; 
	border: none;
	outline: 0;
}

#speed .ui-slider-handle{
	width: 50px; 
	height: 39px; 
	background: url('../images/wind-symbol.png') no-repeat center;
	background-size: cover;
	position: absolute;
	margin-left: -15px;
	margin-top: -8px;
	border: none;
	outline: 0;
}

.tt{
	margin-top: 29px;
	width: calc(782px/11);
	height: calc(405px/11);
	margin-left: -10px;
	position: absolute;
	background: url('../images/tooltip.png') no-repeat center;
	background-size: cover;
}

.text{
	color: #3385FF;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	margin-top: 5px;
	font-size: 22px;
	font-family: "Calibri", Serif;

}
